.MainPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  overflow-x: hidden
}

.MainPage input[type="text"] {
  margin-top: 4rem;
  width: 19rem;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: lighter;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
}

.bookreview-container{
  width: 100%;
  height: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
}